html
    head
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous")
        title='Vista de Productos'
    body
        div(class="container-fluid bg-light")
            h1(class="text-primary")='Ingrese Producto'  
            form(action="/productos" method="post")
                h5(class="fst-italic")='Nombre'
                input(type="text" name="title" class="form-label")
                h5(class="fst-italic")='Precio'
                input(type="text" name="price" class="form-label") 
                h5(class="fst-italic")='Foto URL'
                input(type="text" name="thumbnail" class="form-label")
                br
                br
                button(type="submit" class="btn btn-success")='Enviar'
            br
            br
            div(class="col-md-12 text-center")
                a(href="/productos" class="btn btn-success")='Lista de Productos'
            br
